<table>
    <tbody>
        <tr></tr>
        <tr>
            <td></td><!-- A -->
            <td></td><!-- B -->
            <td></td><!-- C -->
            <td></td><!-- D -->
            <td colspan="8">LABORATORIO DE VIGILANCIA EPIDEMIOLÓGICA DE LA CIUDAD DE MÉXICO</td><!-- D -->
        </tr>
        <tr>
            <td></td><!-- A -->
            <td></td><!-- B -->
            <td></td><!-- C -->
            <td></td><!-- D -->
            <td></td><!-- E -->
            <td colspan="5">FORMATO PARA RECHAZOS DE MUESTRAS LESP-VE-FO-014/003</td>
            <td colspan="2">Vigente a partir de: 04/02/2021</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="3">DESTINATARIO:</td><!-- A -->
            <td colspan="6"></td><!-- B -->
            <td>Fecha:</td><!-- J -->
            <td colspan="2">30/06/2022</td><!-- K -->
        </tr>
        <tr>
            <td colspan="3">JURISDICCIÓN SANITARIA:</td><!-- A -->
            <td colspan="6"></td><!-- B -->
            <td>Hora:</td><!-- J -->
            <td colspan="2">5:05 p. m.</td><!-- K -->
        </tr>
        <tr>
            <td colspan="3">UNIDAD MÉDICA: </td><!-- A -->
            <td colspan="6"></td><!-- B -->
            <td colspan="3">SP0125/2022</td>
        </tr>
        <tr>
            <td></td><!-- A -->
            <td colspan="10">COMUNICO A USTED LOS MOTIVOS DE RECHAZO DE LA(S) MUESTRA(S) ENVIADA(S) AL LABORATORIO DE SALUD PÚBLICA CDMX PARA SU PROCESAMIENTO.</td>
            <td></td><!-- L -->
        </tr>

        <tr></tr>
        <tr>
            <td rowspan="2">No.</td>
            <td rowspan="2" colspan="2">Paciente</td>
            <td rowspan="2" colspan="3">Tipo de Muestra</td>
            <td rowspan="2" colspan="2">Diagnóstico solicitado</td>
            <td colspan="3" colspan="2">Causas de rechazo</td>
        </tr>
        <tr>
            <td>1.0</td>
            <td>2.0</td>
            <td>3.0</td>
        </tr>

    </tbody>
</table>