<table>
    <tbody>
        <tr></tr>
        <tr>
            <td></td><!-- A -->
            <td></td><!-- B -->
            <td></td><!-- C -->
            <td colspan="3">LABORATORIO DE VIGILANCIA EPIDEMIOLÓGICA DE LA CIUDAD DE MÉXICO</td><!-- D -->
        </tr>
        <tr>
            <td></td><!-- A -->
            <td></td><!-- B -->
            <td></td><!-- C -->
            <td colspan="3">FORMATO PARA RECHAZOS DE MUESTRAS LESP-VE-FO-014/003</td><!-- D -->
            <td>Vigente a partir de: 04/02/2021</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td>Destinatario:</td><!-- A -->
            <td colspan="8"></td><!-- B -->
            <td>Fecha:</td><!-- J -->
            <td colspan="2">30/06/2022</td><!-- K -->
        </tr>
        <tr>
            <td>JURISDICCIÓN SANITARIA:</td><!-- A -->
            <td colspan="8"></td><!-- B -->
            <td>Hora:</td><!-- J -->
            <td colspan="2">2:38 p. m.</td><!-- K -->
        </tr>
        <tr>
            <td>UNIDAD MÉDICA: </td><!-- A -->
            <td colspan="8"></td><!-- B -->
            <td colspan="3">d</td>
        </tr>
        </tr>
        <tr></tr>
        <tr>
            <td></td><!-- A -->
            <td>COMUNICO A USTED LOS MOTIVOS DE RECHAZO DE LA(S) MUESTRA(S) ENVIADA(S) AL LABORATORIO DE SALUD PÚBLICA CDMX PARA SU PROCESAMIENTO.</td>
            <td></td><!-- L -->
        </tr>
        
    </tbody>
</table>