<table>
    <tbody>
        <tr></tr>
        <tr>
            <td></td><!-- A -->
            <td></td><!-- B -->
            <td></td><!-- C -->
            <td colspan="3">LABORATORIO DE VIGILANCIA EPIDEMIOLÓGICA DE LA CIUDAD DE MÉXICO</td><!-- D -->
        </tr>
        <tr>
            <td></td><!-- A -->
            <td></td><!-- B -->
            <td></td><!-- C -->
            <td colspan="3">FORMATO PARA RECHAZOS DE MUESTRAS LESP-VE-FO-014/003</td><!-- D -->
            <td>Vigente a partir de: 04/02/2021</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td>Destinatario:</td><!-- A -->
            <td colspan="8"></td><!-- B -->
            <td>Fecha:</td><!-- J -->
            <td colspan="2">30/06/2022</td><!-- K -->
        </tr>
        <tr>
            <td>JURISDICCIÓN SANITARIA:</td><!-- A -->
            <td colspan="8"></td><!-- B -->
            <td>Hora:</td><!-- J -->
            <td colspan="2">2:37 p. m.</td><!-- K -->
        </tr>
        <tr>
            <td>UNIDAD MÉDICA: </td><!-- A -->
            <td colspan="8"></td><!-- B -->
            <td colspan="3">d</td>
        </tr>
        </tr>
        <tr></tr>
        <tr>
            <td></td><!-- A -->
            <td>COMUNICO A USTED LOS MOTIVOS DE RECHAZO DE LA(S) MUESTRA(S) ENVIADA(S) AL LABORATORIO DE SALUD PÚBLICA CDMX PARA SU PROCESAMIENTO.</td>
            <td></td><!-- L -->
        </tr>
                        <tr>
            <td colspan="4">Tipo de muestra</td>
            <td colspan="3">Diagnósticos</td>
        </tr>
        <tr>
            <td colspan="4" rowspan="3">
                Bio(biopsia), Exp(expectoración), Exn(exudado nasofaringeo), Lab(lavado bronquial), Lam(laminilla), Lag(lavado gástrico), Lia(líquido amniótico), Lic(líquido cefalorraquídeo), Lip(líquido pleural), Oli(otros líquidos: punción pleural, médula ósea, líquido pericárdico, sinovial, articular, plus), M aF(materia fecal), Ori(orina), Sal(saliva), Sat(sangre total), Sue(suero).
            </td>
            <td colspan="3" rowspan="3">
                123 Arbovirus, 004 Bordetella, 005 Brucelosis, 006 EFE, 007 Influenza, 008 Rotavirus, 009 Tuberculosis baciloscopias, 010 Tuberculosis cultivo, 001 Tuberculosis Gene-Xpert, 012 Paludismo, 013 Lepra, 014 SARS Cov-2
            </td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="2">Elaboro</td>
            <td colspan="2">Reviso</td>
            <td>Hora</td>
            <td colspan="2">Recibió</td>
        </tr>
        <tr>
            <td colspan="2" rowspan="3"></td>
            <td colspan="2" rowspan="3"></td>
            <td rowspan="3"></td>
            <td colspan="2" rowspan="3"></td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr>
            <td colspan="4">Iniciales y Firma del personal del DA</td>
            <td colspan="3">Iniciales y Firma o Rubrica del personal de DVE</td>
        </tr>
    </tbody>
</table>