.sidebar-navigation {
    width: 280px;
    transition: all .5s ease-in-out;
}
/* .wrapper-main-container {
    margin-left: 280px;
} */
.sidebar-navigation.aside-responsive {
    transform: translateX(-280px);
    transition: all .5s ease-in-out;
}
.sidebar-navigation.aside-close {
    transform: translateX(-280px);
}
.sidebar-navigation.aside-open {
    transform: translateX(0px);
}
.wrapper-main-container {
    transition: all .5s ease-in-out;
    margin-left: 280px;
    width: calc(100% - 280px);
}
.wrapper-main-container.container-full {
    margin-left: 0px;
    width: 100%;
    transition: all .5s ease-in-out;
}