@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-navigation {
    width: 280px;
    transition: all .5s ease-in-out;
}
.wrapper-main-container {
    margin-left: 280px;
}
.sidebar-navigation.aside-responsive {
    transform: translateX(-280px);
    transition: all .5s ease-in-out;
}
.sidebar-navigation.aside-close {
    transform: translateX(-280px);
}
.sidebar-navigation.aside-open {
    transform: translateX(0px);
}
.wrapper-main-container {
    transition: all .5s ease-in-out;
    margin-left: 280px;
    width: calc(100% - 280px);
}
.wrapper-main-container.container-full {
    margin-left: 0px;
    width: 100%;
    transition: all .5s ease-in-out;
}
/* Animación de loaders de gráficas */
.spinner-chart {
   position: relative;
   width: 56px;
   height: 56px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spinner-chart::before,
.spinner-chart::after {
   border: 6.7px solid #a00a0a;
   border-radius: 50%;
   position: absolute;
   content: '';
   display: block;
}

.spinner-chart::before {
   width: 33.6px;
   height: 33.6px;
   border-bottom-color: transparent;
   border-left-color: transparent;
   animation: spinner-1o3y8q 0.75s infinite linear reverse;
}

.spinner-chart::after {
   animation: spinner-1o3y8q 0.5s infinite linear;
   height: 56px;
   width: 56px;
   border-right-color: transparent;
   border-top-color: transparent;
}

@keyframes spinner-1o3y8q {
   to {
      transform: rotate(360deg);
   }
}

/*------    Loaders ----------*/
.container-loader {
    background-color: rgba(253, 254, 254, 0.8);
}

.loader-download {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #D4AC0D;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader-download::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #7B241C;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}